@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
@font-face {
    font-family: myfont;
    src: url(/fonts/Capture\ it.ttf);
}
@font-face {
    font-family: sharkclue;
    src: url(/fonts/sharkclue.otf);
}

.headingtrend {
    text-align: center;
    padding-right: 100px;
    width: 100%;
    height: 315px;

}
.headingtrend h4{
    font-size: 50px;
    font-family: 'sharkclue', sans-serif;
    word-spacing: 50px;
    font-weight: 100;
}
.content{
    max-width: 1250px;
    
    margin: auto;
}
.navbar{
    background: rgb(255, 255, 255);
   position: fixed;
   z-index: 5;
   width: 100%;
   padding: 20px 0px;
   box-shadow: 1px 4px 8px 0 rgb(0 0 0 / 20%);
   transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 10px 0px;
    
}

.navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .menu-list{
    display: inline-flex;
}
.menu-list li{
    list-style: none;
}
.navbar .logo a{
    color: #000;
    font-size: 29px;
    font-weight: 500;
    text-decoration: none;
    font-family: 'myfont' , sans-serif;

    
 

}
.navbar .logo a span{
    color: #000;
    font-size: 29px;
    font-weight: 500;
    text-decoration: none;
    font-family: 'myfonts' , sans-serif;
    border: 3px solid black;
    background-color: white;
    padding: 8px  5px;
    cursor: pointer; 
    
    
 

}


.menu-list li a{
    padding: 30px 20px 27px;
    line-height: 30px;
    font-size: 13px;
    letter-spacing: .5px;
    color: #000;
    text-decoration: none;
    font-weight: 400;
    

}
.menu-list .menulistactive a{
    color: #000;
    background-color: #eee;
    border-bottom: 3px solid #000;
    transition: 0.3s all ease;

}
.navbar.sticky .menu-list li a{
    padding: 29px 20px 18px;
    
}


.menu-list li a:hover{
    color: #000;
    background-color: #eee;
    border-bottom: 3px solid #000;
    
    
}



.sale{
    height: 11vh;
  
}
.icon{
    color: #000;
    font-size: 30px;
    cursor: pointer;
    display: none;
    font-weight: 200;
    padding: 0px 20px;
 
}
.icon.cancel-btn{
    position: absolute;
    right: 30px;
    top: 20px;



}
.trendinglist{
    background-color: rgb(0, 0, 0);
    display: table;
    margin: 15px 0 8px;
    width: 100%;
    
    
    
    
}

div.trendinglist h2 {
   
    
    color: rgb(255, 255, 255);
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
    line-height: 35px;
    font-family: 'Roboto' , sans-serif;
    
    text-transform: uppercase;
    font-weight: 500;
    
}

.trendinglist-men{
    background-color: rgb(255, 255, 255);
    display: table;
    margin: 15px 0 8px;
    width: 100%;
    
    
    
    
}
div.trendinglist-men h2 {
   
    padding: 0 0 0 10px;
    color: rgb(0, 0, 0);
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 26px;
    line-height: 66px;
    font-family: 'Roboto' , sans-serif;
    word-spacing: 9px;
    text-transform: capitalize;
    font-weight: 500;
    padding-right: 100px;
    
    
}
.viewherebutton{
    line-height: 20px;
    padding: 1px 30px;
    float: right;
    
    margin-right: 5px;
    height: 23px !important;
    margin-top: 6px;
    text-decoration: none;
    background: rgb(209, 12, 12);
    color: white;
}

.viewherebutton:hover{
    background: rgb(255, 255, 255);
    color: black;
 
}
.container{
    background-color: #e5e5e5;
}

.product{
    position: relative;
    overflow: hidden;
    padding: 0px;
}
.product-category{
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
}
.product-container{
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    background-color: #ffffff;
    
    

}
.product-container::-webkit-scrollbar{
    display: none;
}
.product-card{
    flex: 0 0 auto;
    width:  308px;
    height: 390px;
    max-width: 250px;
    margin-right: 40px;
    
}
.product-image{
    position: relative;
    width: 80%;
    height: 219px;
    overflow: hidden;
    cursor: pointer;
}
.product-thumb{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s all ease;

}


.discount-tag{
    position: absolute;
    background-color: rgb(194, 3, 3);
    padding: 5px;
    
    color: rgb(255, 255, 255);
    right: 10px;
    top: 0px;
    text-transform: capitalize;
    font-size: 10px;
}
.card-btn{
    position: absolute;
    bottom: 10px;
    left: 50%;
    padding: 10px;
    width: 90%;
    transform: translate(-50%);
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #eee;
    border-radius: 5px;
    transition: 0.2s all ease-in-out;
    cursor: pointer;
    opacity: 0;
    color: rgb(0, 0, 0);
}
.product-card:hover .card-btn{
    opacity: 1;
}
.card-btn:hover{
    background: rgb(197, 7, 7);
    color: rgb(255, 255, 255);
}
.product-info{
    width: 100%;
   
    padding-top: 10px;
}
.product-brand{
    text-transform: uppercase;
}
.product-short-description{
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;


}
.price{
    font-weight: 900px;
    font-size: 20px;

}
.actual-price{
    margin-left: 50px;
    opacity: 1;
    text-decoration: line-through;
    color: rgb(199, 12, 12);

}
.offer-price{
   font-size: 15px;
    
    
    color: rgb(0, 0, 0);

}
.pre-btn,
.nxt-btn{
    border: none;
    width: 10vh;
    height: 83%;
   position: absolute;
    top: 121px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    color: rgb(255, 255, 255);
    
}

.pre-btn{
    left: 0;
    transform: rotate(180deg);
}
.nxt-btn{
    right: 0;

}
.pre-btn img,
.nxt-btn img{
    opacity: 0.6;
}
.pre-btn:hover img,
.nxt-btn:hover img{
    opacity: 1;
}
.buy-button{
    border: none;
    outline: 0;
    padding: 12px;
    
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    
  }
  .buy-button h1{
      font-size: 20px;
      font-weight: 500;

     
  }
  .buy-button  a {
      text-decoration: none;
      color: #fff;
      
  }
  .buy-button:hover  a{
      color: black;
  }
  
  .buy-button:hover  {
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 1px ;
    border: 1px solid;
    
  }
  footer{
    
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;

    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;

    border-radius: 50%;

}
.socials a i{
    font-size: 1.1rem;
    width: 20px;


    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px;
padding-bottom: 40px;
    text-align: center;
}
.footer-bottom p{
float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.footer-menu{
  float: right;

}
.footer-menu ul{
  display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
}
.footer-menu ul li a:hover{
  color: #27bcda;
}
.search-container{
    background: #fff;
    height: 40px;
    border-radius: 40px;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.8s;
    
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
  box-shadow:  4px 4px 6px 2px rgba(255,255,255,.3),
              
    inset -4px -4px 6px 4px rgba(255,255,255,.2),
    inset 1px 1px 1px 1px rgba(0, 0, 0, .2);
}

.search-container:hover > .search-input{
    width: 400px;
}


.search-container .search-input{
    background: transparent;
    border: none;
    outline:none;
    width: 0px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;

}

.search-container .search-btn .fa{
    color: #000000;
}
.search-container .search-btn .fa:hover{
    color: red;
}



.search-container:hover{
  animation: hoverShake 0.15s linear 3;
}

































































@media(max-width: 868px){
    .search-container{
        background: #fff;
        height: 30px;
        border-radius: 30px;
        padding: 20px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.8s;
        
        
      text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
      box-shadow:  4px 4px 6px 2px rgba(255,255,255,.3),
                  
        inset -4px -4px 6px 4px rgba(255,255,255,.2),
        inset 1px 1px 1px 1px rgba(0, 0, 0, .2);
    }
    
    .search-container:hover > .search-input{
        width: 50px;
        transition: 0.3s;
    }
    .navbar.sticky .search-container > .search-input{
        width: 0px;
    }
    
    
    .search-container .search-input{
        background: transparent;
        border: none;
        outline:none;
        width: 0px;
        font-weight: 500;
        font-size: 14px;
        transition: 0.8s;
    
    }
    .navbar.sticky .search-container .fa:hover{
        color: #000;
    }
    
    .search-container .search-btn .fa{
        color: #000000;
    }
    .search-container .search-btn .fa:hover{
        color: red;
    }
    
    
    
    .search-container:hover{
      animation: hoverShake 0.15s linear 3;
    }
    .navbar .logo{
        padding-top: 10px;
        transition: 0.3s all ease;
    }
    .navbar .logo a{
        color: #000;
        font-size: 20px;
        font-weight: 500;
        text-decoration: none;
        font-family: 'myfont' , sans-serif;
        padding: 10px;
    
        
     
    
    }
   
    
    .navbar .logo a span{
        color: #000;
        font-size: 20px;
        font-weight: 500;
        text-decoration: none;
        font-family: 'myfonts' , sans-serif;
        border: 3px solid black;
        background-color: white;
        padding: 8px  5px;
        cursor: pointer; 
        
        
        
     
    
    }
    
  
   

    body.disabledscroll{
        overflow: hidden;

    }
    .icon{
        display: block;
    }
    .icon.hide{
        display: none;
    }
  
    .navbar{
        
        background: rgb(255, 255, 255);
       position: fixed;
       z-index: 5;
       width: 100%;
       padding: 20px 0px;
       box-shadow: 1px 4px 8px 0 rgb(0 0 0 / 20%);
       transition: all 0.3s ease;
    }
    .navbar .menu-list{
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        background: rgb(255, 255, 255);
        display: block;
        padding: 40px 0px;
        text-align: center;
        transition: all 0.3s ease;
        box-shadow: 1px 2px 2px 0 rgb(0 0 0 / 20%);
    }
    .navbar.sticky .menu-list li a{
        padding: 20px 100px 20px;
    }
    .navbar .menu-list.active{
        left: 0;
    }
    .navbar .menu-list li{
        margin-top: 65px;
        padding: 0px;
    }
    .navbar.sticky{
        padding: 20px 0px;
        
    }
    .navbar .menu-list li a{
        font-size: 23px;
    }
    .menu-list li a{
        padding: 20px 100px 20px;
        line-height: 30px;
        font-size: 13px;
        letter-spacing: .5px;
        color: #000;
        text-decoration: none;
    }




    /*------------------------------------------collection-mobile-view-------------------*/
    .btnmob{
       overflow: hidden;
        z-index: 0;
        
    }

    .product{
        position: relative;
        overflow: hidden;
        padding: 0px;
        
        
    }
    .product-category{
        padding: 0 10vw;
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 40px;
        text-transform: capitalize;
    }
    .product-container{
        padding: 0 10vw;
        height: 280px;
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;
        
      
        
        
        
    
    }
    .product-container::-webkit-scrollbar{
        display: none;
    }
    .product-card{
        flex: 0 0 auto;
        width: 46%;
      height: auto;
        margin-right: 40px;
    }
    .product-image{
        position: relative;
        width: 115.5px;
        height: 115.5px;
        overflow: hidden;
        cursor: pointer;
    }
    .product-thumb{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .discount-tag{
        display: none;
    }
    .buy-button{
        border: none;
        outline: 0;
        padding: 12px;
        
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 90%;
        font-size: 10px;
        
      }
      .buy-button h1{
          font-size: 14px;
          font-weight: 500;
    
         
      }
      .buy-button h1 a{
          text-decoration: none;
          color: #fff;
          
      }
      .buy-button:hover h1 a{
          color: black;
      }
      
      .buy-button:hover {
        background-color: rgb(255, 255, 255);
        color: black;
        border-radius: 1px ;
        border: 1px solid;
        
      }
      .trendinglist{
        background-color: rgb(0, 0, 0);
        display: table;
        margin: 15px 0 8px;
        width: 100%;
        
        
        
    }
    .viewherebutton{
        line-height: 5px;
        padding: 10px 30px;
        float: right;
        
        margin-right: 5px;
        height: 23px !important;
        margin-top: 1px;
        text-decoration: none;
        background: rgb(209, 12, 12);
        color: white;
    }
    
    div.trendinglist h2 {
       
        
        color: rgb(255, 255, 255);
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-size: 12px;
        line-height: 25px;
        font-family: 'Roboto' , sans-serif;
        
        text-transform: uppercase;
        font-weight: 500;
    }
    .trendinglist-men{
        background-color: rgb(255, 255, 255);
        display: table;
        margin: 15px 0 8px;
        width: 100%;
        
        
        
        
    }
    div.trendinglist-men h2 {
       
        padding: 0 0 0 10px;
        color: rgb(0, 0, 0);
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-size: 16px;
        line-height: 25px;
        font-family: 'Roboto' , sans-serif;
        word-spacing: 9px;
        text-transform: capitalize;
        font-weight: 500;
        padding-right: 100px;
        
        
    }
    .card-btn{
        display: none;
    }
    .pre-btn,
.nxt-btn{
    border: none;
    width: 5vh;
    height: 10%;
   position: absolute;
    top: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    

}
.headingtrend {
    display: none;
}
.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 10px;
padding-bottom: 70px;
    text-align: center;
}
.footer-menu ul{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .footer-bottom p{
    float: left;
        font-size: 14px;
        word-spacing: 2px;
        text-transform: capitalize;
    }
    .footer-bottom p a{
      color:#44bae8;
      font-size: 13px;
      text-decoration: none;
    }
    footer{
    
        bottom: 10px;
        left: 0;
        right: 0;
        background: #111;
        height: 300px;
        width: 100vw;
    
        
        color: #fff;
    }
    
     
    
}